* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

span {
    color: #FD6E0A;
}

.logo {
    font-size: 45px;
    font-weight: 700;
}

.header-section {
    background-color: #FFF8F3;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.navigation {
    display: flex;
    padding-top: 50px;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: space-between;
}

.navigation li {
    list-style: none;
    margin-right: 50px;
    font-size: 20px;
    font-weight: 400;
    color: #474747;
}


.navigation ul {
    display: flex;
    align-items: center;

}

.btn {
    background-color: #FD6E0A;
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: 400;
    margin-right: 10px;
    border-radius: 5px;
}

.banner-section {
    display: flex;
    align-items: center;
    margin: 0px 130px;
    /* justify-content: space-around; */
    /* padding-left: 230px; */

}

.banner-content {
    max-width: 550px;
}

.banner-heading {
    color: #181818;
    font-size: 50px;
    font-weight: 700;
}

.banner-tag {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.banner-description {
    margin: 20px 0px;
}


.banner-img {
    width: 584px;
    height: 674px;
}

.about-section {
    width: 1140px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px auto;
}

.section-heading {
    text-align: center;
    padding-top: 50px;
}

.section-description {
    text-align: center;
    margin: 30px 150px;
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}

.contact-info {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 130px;
}

.about-me {
    text-align: center;
}

.about-me p {
    color: #757575;
    font-size: 20px;
    font-weight: 400;
}

.about-me h4 {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}

.skills-container {
    display: flex;
    gap: 25px;
    margin: 10px 100px;
    justify-content: space-evenly;
}

.skill {
    padding: 30px;
    /* background-color: aquamarine; */
    border-radius: 5px;
    background: #FFF;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill img {
    margin-bottom: 30px;
    /* padding: 30px; */
}

.skill h4 {
    margin-bottom: 20px;
    color: #181818;
    font-size: 18px;
    font-weight: 700;
}

.skill p {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.resume-details {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin: 110px 100px;
}


.resume-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.degree {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.versity {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0px;
}

.degree-details {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    /* line-height: 28px; */
    /* 175% */
}

hr {
    margin-bottom: 30px;
}

.btn-cv {
    background-color: #FD6E0A;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
    display: block;
    margin: 0px auto 30px;
}

.footer-section {
    display: flex;
    padding: 130px 230px;
    gap: 20px;
    background-color: #FFF8F3;
}

.message input,
textarea {
    display: block;
    padding: 18px 0px 18px 30px;
    width: 100%;
    margin-bottom: 25px;
    color: #757575;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    font-weight: 400;
}

.social {
    width: 50%;
}

.social-description {
    margin: 15px 0px;
}

.social-tag {
    margin: 15px 0px;
}

.social-icon img {
    margin-right: 10px;
    cursor: pointer;
}